VITE_SUPABASE_URL=https://alczmrcfzxpmnnhedhif.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsY3ptcmNmenhwbW5uaGVkaGlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzcyMDMwMjQsImV4cCI6MjA1Mjc3OTAyNH0.I79LiOfgEbqOB9qByyG82VNCmqvTgofPZAfpTT7GIKA 