@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  /* Text Styles */
  .footer-link {
    @apply text-xs font-extrabold uppercase tracking-wider text-white hover:text-gray-400;
  }

  .footer-text {
    @apply text-xs font-bold text-gray-500 cursor-pointer whitespace-nowrap hover:text-gray-400;
  }

  /* Button Styles */
  .footer-button {
    @apply w-8 h-8 flex items-center justify-center bg-gray-800 text-white hover:bg-gray-700 transition-colors;
  }
}

@font-face {
  font-family: 'Mont';
  font-weight: 700;
  src: url('/fonts/Mont-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  font-weight: 600;
  src: url('/fonts/Mont-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Mont';
  font-weight: 400;
  src: url('/fonts/Mont-Regular.otf') format('opentype');
}

html {
  font-family: 'Mont', sans-serif;
}

.gradient-text {
  background: -webkit-linear-gradient(150deg, #eb2a2a, #6519a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
  .swiper-slide .flex-row {
    flex-direction: column;
  }

  .swiper-slide .flex-row > div:first-child {
    display: none;
  }

  .swiper-slide .flex-row > div:last-child {
    width: 100%;
    align-items: center;
  }

  .swiper-slide .flex-row > div:last-child img {
    align-self: center;
  }

  .swiper-container {
    margin: 0;
  }

  .swiper-container .swiper-slide {
    padding: 0;
  }

  .swiper-container .swiper-slide img {
    width: 100%;
    height: auto;
  }
}

.custom-toast .Toastify__close-button {
  color: #ccc;
}

.custom-toast .Toastify__progress-bar--success {
  background-color: #eb2a2a;
}

.custom-toast .Toastify__progress-bar--info {
  background-color: #eb2a2a;
}
